.full{
    background-image: url('../assets/Hero-bg.png');
    background-size: 80%; 
    margin-top: 100px;

   
}
.first {
   justify-items: center;

}

.text{
    text-align: center;
}
.first-btn{
    padding: 5px;
    color: white;
    background-color:black
   
}
.pragraph{
    text-align: center;
}
.btn-second{
    background-color: white;
   

}
.right{
  display: flex;
  justify-content:end;
}
.problem{
    margin-top: -200px;
}
.flex{
    display: flex;
    justify-content: space-between ;
    
    
}
.btn-2{
    background-color: white;
    width: 100px;
    height: 30px;
}

.full-second{
    background-color: rgb(236, 242, 245);
    margin: 50px;
    padding: 50px;
}
.video{
    justify-items: center;
}